<div class="container-fluid">
    
    <!-- Page Heading -->
    <div class="row">
        <div class="col-xl-12">
            <h2 class="page-header">
                Administracion de Cirugias
            </h2>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <i class="fa fa-dashboard"></i> <a href="Javascript:void(0)" [routerLink]="['/dashboard']">Administracion</a>
                </li>
                <li class="breadcrumb-item active"><i class="fa fa-table"></i> Cirugias</li>
            </ol>
        </div>
    </div>

    <!--Boton agregar con modal-->
    <app-mod-add [cirugias]="cirugias" [especialidades]="especialidades"></app-mod-add>

    <!--Tabla medicamentos-->
   
    <div class="table-responsive">
        <table class="table table-hover table-striped table-condensed" [mfData]="pacientes" #mf="mfDataTable" [mfRowsOnPage]="5">
            <thead>
                <tr>
                    <th><mfDefaultSorter by="codigo">Codigo</mfDefaultSorter></th>
                    <th><mfDefaultSorter by="nombre">Nombre</mfDefaultSorter></th>
                    <th><mfDefaultSorter by="especialidades">Especialidad</mfDefaultSorter></th>
                    <th><mfDefaultSorter by="costo">Costo</mfDefaultSorter></th>              
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cirugia of cirugias">
                    <td>{{cirugia.codigo}}</td>
                    <td>{{cirugia.nombre}}</td>
                    <td>{{cirugia.especialidad.nombre}}</td>  
                    <td>{{cirugia.costo}}</td>                    
                    <td><app-mod-edit [cirugia_original]="cirugia" [cirugias]="cirugias" [especialidades]="especialidades"></app-mod-edit></td>
                    <td>
                        <app-mod-del [cirugia]="cirugia" [cirugias]="cirugias">
                            <p>
                                ¿Realmente Desea elimniar la cirugia?
                            </p>
                        </app-mod-del>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4">
                        <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
 

</div>