<!-- Large modal -->

<button class="btn btn-default" (click)="open(content)"><i class="fa fa-plus"></i> Agregar procedimiento</button>
<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Agregar nuevo procedimiento</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>


    <!--Formulario agregar nuevo Sercio-->
        <form>

         <div class="modal-body">
            
            <div *ngIf="exito == false" class="alert alert-danger">
                <strong>Error!</strong> Operacion no se pudo realizar.
            </div>

            <div *ngIf="exito == true" class="alert alert-success">
                <strong>Exito!</strong> La operacion se ha realizada exitosamente.
            </div>

            <div class="form-group">
            <label for="nombre">Codigo</label>
            <input type="text" class="form-control" [(ngModel)]="procedimiento.codigo" name="codigo" placeholder="Ingrese codigo">
            </div>

            <div class="form-group">
            <label for="nombre">Nombre</label>
            <input type="text" class="form-control" [(ngModel)]="procedimiento.nombre" name="nombre" placeholder="Ingrese nombre del procedimiento">
            </div>

            <div class="form-group">
            <label for="nombre">Costo</label>
            <input type="text" class="form-control" [(ngModel)]="procedimiento.costo" name="costo" placeholder="Ingrese costo del procedimiento">
            </div>
            
            
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="c('Close click')">Cerrar</button>
            <button type="button" *ngIf="exito != true" (click)="onSubmit()" class="btn btn-primary" >Guardar</button>
            <button type="button" *ngIf="exito == true" (click)="clear()" class="btn btn-primary" ><i class="fa fa-repeat"></i></button>
        </div>

    </form>

</ng-template>
