<div class="container-fluid">
    
    <!-- Page Heading -->
    <div class="row">
        <div class="col-xl-12">
            <h2 class="page-header">
                Administracion de Pacientes
            </h2>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <i class="fa fa-dashboard"></i> <a href="Javascript:void(0)" [routerLink]="['/dashboard']">Administracion</a>
                </li>
                <li class="breadcrumb-item active"><i class="fa fa-table"></i> Pacientes</li>
            </ol>
        </div>
    </div>

    <!--Boton agregar con modal-->
    <app-mod-add [paises]="paises" [enfermedades]="enfermedades" [pacientes]="pacientes"></app-mod-add>

    <!--Tabla medicamentos-->
   
    <div class="table-responsive">
        <table class="table table-hover table-striped table-condensed" [mfData]="pacientes" #mf="mfDataTable" [mfRowsOnPage]="5">
        <!--<table class="table table-hover table-striped table-condensed" [mfData]="pacientes" #mf="mfDataTable" [mfRowsOnPage]="5">-->
            <thead>
                <tr>
                    <th><mfDefaultSorter by="nombres">Nombres</mfDefaultSorter></th>
                    <th><mfDefaultSorter by="apellidos">Apellidos</mfDefaultSorter></th>              
                    <th><mfDefaultSorter by="fecha.nacimiento">Fecha Nacimiento</mfDefaultSorter></th>              
                    <th><mfDefaultSorter by="genero">Genero</mfDefaultSorter></th>              
                    <th><mfDefaultSorter by="pais">Pais</mfDefaultSorter></th>              
                    <th><mfDefaultSorter by="division">División</mfDefaultSorter></th>              
                    <th><mfDefaultSorter by="subdivision">Subdivisión</mfDefaultSorter></th>              
                    <th>Detalle</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let paciente of mf.data">
                    <td>{{paciente.nombre1}} {{paciente.nombre2}}</td>
                    <td>{{paciente.apellido1}} {{paciente.apellido2}}</td>                      
                    <td>{{paciente.dia_nacimiento}}/{{paciente.mes_nacimiento}}/{{paciente.anio_nacimiento}}</td>                      
                    <td>{{paciente.genero}}</td>                      
                    <td>{{paciente.subdivision.idDivision.idPais.nombrePais}}</td>                      
                    <td>{{paciente.subdivision.idDivision.nombreDivision}}</td>                      
                    <td>{{paciente.subdivision.nombreSubdivision}}</td>                      
                    <!--<td>{{paciente.expediente.numero_expediente}}</td>                      -->
                    <td><app-mod-edit [paciente_original]="paciente" [paises]="paises" [enfermedades]="enfermedades" [pacientes]="pacientes"></app-mod-edit></td>
                    <td>
                        <app-mod-del [paciente]="paciente" [pacientes]="pacientes">
                            <p>
                                ¿Realmente Desea eliminar el Paciente?
                            </p>
                        </app-mod-del>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4">
                        <mfBootstrapPaginator></mfBootstrapPaginator>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
 

</div>