<button class="btn btn-primary" (click)="open(content)"><i class="fa fa-plus " aria-hidden="true"></i>Agregar Diagnostico</button>

<!-- Large modal -->

<ng-template #content let-c="close" let-d="dismiss">


    <!--Formulario agregar nuevo rol-->
        <form>

        <div class="modal-body">
            
            <div *ngIf="exito == false" class="alert alert-danger">
               <strong>Ooops!</strong> {{mensaje}}.
            </div>

            <div *ngIf="exito == true" class="alert alert-success">
                <strong>Exito!</strong> {{mensaje}}
            </div>

     <div class="row">

    <label>Diagnostico</label>
    <select multiple type="text" class="form-control">
    <option>
      
    </option>  
    </select>
  
</div>


   <hr>
    <h3>Tratamiento</h3>
    <br>

<div class="table-responsive">
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>Medicamento <select type="text" class="form-control">
                    <option> Acetaminofen</option>
                    </select></th>
                <th>Presentación <input disabled type="text" class="form-control" value="Oral"/></th>
                <th>Dosis<input type="text" class="form-control" value="2"></th>
                <th>Frecuencia <input type="text" class="form-control" value="6 horas"></th>
                <th>Agregar <button type="button" class="btn btn-success btn-md" (click)="addTratamiento()"><i class="fa fa-plus" aria-hidden="true"></i></button></th>
                                      
                                       
                <!--<th>Editar</th>
                <th>Eliminar</th>-->
            </tr>
        </thead>
        <tbody>
       
        </tbody>
    </table>
</div>
  <div class="row">

    <div class="form-group col-md-12">
      <label>Recomendaciones</label>
      <textarea type="text" class="form-control"></textarea>
    </div>


  </div>
            
            
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="c('Close click')">Cerrar</button>
            <button type="button" *ngIf="exito != true" (click)="onSubmit()" class="btn btn-primary" >Guardar</button>
            <button type="button" *ngIf="exito == true" (click)="clear()" class="btn btn-primary" ><i class="fa fa-repeat"></i></button>
        </div>

    </form>

</ng-template>



