<div class="container-fluid">
    
    <!-- Page Heading -->
    <div class="row">
        <div class="col-xl-12">
            <h2 class="page-header">
                Administracion de procedimientos
            </h2>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <i class="fa fa-dashboard"></i> <a href="Javascript:void(0)" [routerLink]="['/dashboard']">Administracion</a>
                </li>
                <li class="breadcrumb-item active"><i class="fa fa-table"></i> Procedimientos</li>
            </ol>
        </div>
    </div>

    <!--Boton agregar con modal-->
    <app-mod-add [procedimientos]="procedimientos"></app-mod-add>


    <!--Tabla medicamentos-->
   
    <div class="table-responsive">
        <table class="table table-hover table-striped table-condensed" [mfData]="procedimientos" #mf="mfDataTable" [mfRowsOnPage]="5">
            <thead>
                <tr>
                    <th><mfDefaultSorter by="codigo">Codigo</mfDefaultSorter></th>
                    <th><mfDefaultSorter by="nombre">Nombre</mfDefaultSorter></th>
                    <th><mfDefaultSorter by="costo">Costo</mfDefaultSorter></th>              
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let procedimiento of mf.data">
                    <td>{{procedimiento.codigo}}</td>
                    <td>{{procedimiento.nombre}}</td>
                    <td>{{procedimiento.costo}}</td>                      
                    <td><app-mod-edit [procedimiento_original]="procedimiento" [procedimientos]="procedimientos"></app-mod-edit></td>
                    <td><app-mod-del [procedimiento]="procedimiento" [procedimientos]="procedimientos"><p>¿Realmente Desea elimniar el procedimiento?</p></app-mod-del>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4">
                        <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
 
</div>  