<div class="table-responsive">
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>Tipo</th>
                <th>Código</th>
                <th>Nombre</th>
                <th>costo</th>
                <th>Fecha Asignacion</th>
                <th>Resultado</th>                       
                                       
                <!--<th>Editar</th>
                <th>Eliminar</th>-->
            </tr>
        </thead>
        <tbody>
          <!--<tr>
            <td>Fisico</td>
            <td>e489</td>
            <td>Examen Garganta</td>
            <td>8</td>
            <td>25/04/2017</td>
            <td><app-detalle-examen></app-detalle-examen></td>
          </tr>-->

            <tr *ngFor="let asignacion_examen of asignaciones_examen">
                <td>{{asignacion_examen.idExamen.idTipoExamen.nombreTipoExamen}}</td>                    
                <td>{{asignacion_examen.idExamen.codigoExamen}}</td>
                <td>{{asignacion_examen.idExamen.nombreExamen}}</td>
                <td>{{asignacion_examen.idExamen.costoExamen}}</td> 
                <td>{{asignacion_examen.diaAsignacionExamen}}/{{asignacion_examen.mesAsignacionExamen}}/{{asignacion_examen.anioAsignacionExamen}}</td>                       
                <td><app-detalle-examen [asignacion_examen]="asignacion_examen"></app-detalle-examen></td>
                <!--<td><app-mod-edit [examen_original]="examen" [tipos_examen]="tipos_examen" [examenes]="examenes"></app-mod-edit></td>
                <td><app-mod-del [examen]="examen" [examenes]="examenes"><p>¿Realmente Desea elimniar el examen?</p></app-mod-del></td>-->
            </tr>

        </tbody>
    </table>
</div>