<div claass="container fluid ">
  <div class="row">
        <div class="col-xl-12">
            <h2 class="page-header">
                Administracion de Empleados
            </h2>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <i class="fa fa-dashboard"></i> <a href="Javascript:void(0)" [routerLink]="['/dashboard']">Administracion</a>
                </li>
                <li class="breadcrumb-item active"><i class="fa fa-table"></i> Empleados</li>
            </ol>
        </div>
    </div>

    <app-mod-add [paises]="paises" [especialidades]="especialidades" [empleados]="empleados" [roles]="roles" ></app-mod-add> 
    <div class="table-responsive">
        <table class="table table-hover table-striped" [mfData]="empleados" #mf="mfDataTable" [mfRowsOnPage]="5">
            <thead>
                <tr>
                    <th><mfDefaultSorter by="dui">Dui</mfDefaultSorter></th>
                    <th><mfDefaultSorter by="nombre">Nombre</mfDefaultSorter></th>
                    <th><mfDefaultSorter by="apellido">Apellido</mfDefaultSorter></th>
                    <th><mfDefaultSorter by="direccion">Direccion</mfDefaultSorter></th>
                    <th><mfDefaultSorter by="tel.Fijo">Tel.Fijo</mfDefaultSorter></th>
                    <th><mfDefaultSorter by="tel.Movil">Tel.Móvil</mfDefaultSorter></th>
                    <th><mfDefaultSorter by="email">Email</mfDefaultSorter></th>
                    <th><mfDefaultSorter by="usuario">Usuario</mfDefaultSorter></th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let empleado of mf.data">
                    <td>{{empleado.documento_unico}}</td>
                    <td>{{empleado.nombre1}} {{empleado.nombre2}}</td>
                    <td>{{empleado.apellido1}} {{empleado.apellido2}}</td>
                    <td>{{empleado.subdivision.idDivision.idPais.nombrePais}},{{empleado.subdivision.idDivision.nombreDivision}},{{empleado.subdivision.nombreSubdivision}}</td>
                    <td>{{empleado.tel_fijo}}</td>
                    <td>{{empleado.tel_movil}}</td>
                    <td>{{empleado.email}}</td>
                    <td>{{empleado.usuario.username}}</td>
                  <td><app-mod-edit [empleado_original]="empleado" [empleados]="empleados" [paises]="paises" [roles]="roles" [especialidades]="especialidades" ></app-mod-edit> </td>
                  <td><app-mod-del [empleado]="empleado" [empleados]="empleados"><p>¿Realmente Desea elimniar el empleado?</p></app-mod-del></td>

                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4">
                        <mfBootstrapPaginator ></mfBootstrapPaginator>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
