<div class="table-responsive">
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>Altura</th>
                <th>Peso</th>
                <th>Temperatura</th>           
                <th>Presion Arterial</th> 
                <th>Ritmo Cardiaco</th>                     
                                    
                                       
                <!--<th>Editar</th>
                <th>Eliminar</th>-->
            </tr>
        </thead>
        <tbody>
          <tr>
            <td>1.8</td>
            <td>60 kg</td>
            <td> 120</td>
            <td> 80</td>
            <td> 60/min</td>
            
            
          </tr>

        </tbody>
    </table>
</div>