<div class="container-fluid">
    
    <!-- Page Heading -->
    <div class="row">
        <div class="col-xl-12">
            <h2 class="page-header">
                Administracion de Roles
            </h2>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <i class="fa fa-dashboard"></i> <a href="Javascript:void(0)" [routerLink]="['/dashboard']">Administracion</a>
                </li>
                <li class="breadcrumb-item active"><i class="fa fa-table"></i> roles</li>
            </ol>
        </div>
    </div>

    <!--Boton agregar con modal-->
    <app-mod-add></app-mod-add>

    <!--Tabla roles-->

    <div class=" table-responsive">
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Administrador</td>
                    <td><app-mod-edit></app-mod-edit></td>
                    <td><app-mod-del><p>¿Realmente Desea elimniar el rol?</p></app-mod-del></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Laboratorista</td>
                    <td><app-mod-edit></app-mod-edit></td>
                    <td><app-mod-del><p>¿Realmente Desea elimniar el rol?</p></app-mod-del></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Secretaria</td>
                    <td><app-mod-edit></app-mod-edit></td>
                    <td><app-mod-del><p>¿Realmente Desea elimniar el rol?</p></app-mod-del></td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Medico</td>
                    <td><app-mod-edit></app-mod-edit></td>
                    <td><app-mod-del><p>¿Realmente Desea elimniar el rol?</p></app-mod-del></td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Paciente Registrado</td>
                    <td><app-mod-edit></app-mod-edit></td>
                    <td><app-mod-del><p>¿Realmente Desea elimniar el rol?</p></app-mod-del></td>
                <tr>
                    <td>6</td>
                    <td>rol</td>
                    <td><app-mod-edit></app-mod-edit></td>
                    <td><app-mod-del><p>¿Realmente Desea elimniar el rol?</p></app-mod-del></td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>otro</td>
                    <td><app-mod-edit></app-mod-edit></td>
                    <td><app-mod-del><p>¿Realmente Desea elimniar el rol?</p></app-mod-del></td>
                </tr>
            </tbody>
        </table>
    </div>


</div>


