<!-- Large modal -->
<button class="btn btn-default" (click)="open(content)"><i class="fa fa-plus"></i> Agregar rol</button>
<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Agregar nuevo rol</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>


    <!--Formulario agregar nuevo rol-->
        <form>

        <div class="modal-body">
            
            <div class="form-group">
                <label for="nombre">Nombre</label>
                <input type="text" [(ngModel)]="rol.nombre" class="form-control"  name="nombre" placeholder="Ingrese nombre">
            </div>

            <div class="form-group">
                <label for="nombre">Descripción</label>
                <input type="text" [(ngModel)]="rol.descripcion" class="form-control" id="rol-add" name="descripcion" placeholder="Ingrese una breve descripción del rol">
            </div>
            
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="c('Close click')">Cerrar</button>
            <button type="button" class="btn btn-primary" (click)="onSubmit(ver)">Guardar</button>
        </div>

    </form>

</ng-template>
