<div class="container-fluid">
    
    <!-- Page Heading -->
    <div class="row">
        <div class="col-xl-12">
            <h2 class="page-header">
                Administracion de examenes
            </h2>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <i class="fa fa-dashboard"></i> <a href="Javascript:void(0)" [routerLink]="['/dashboard']">Administracion</a>
                </li>
                <li class="breadcrumb-item active"><i class="fa fa-table"></i> examenes</li>
            </ol>
        </div>
    </div>

    <!--Boton agregar con modal-->
    <app-mod-add [examenes]="examenes"></app-mod-add>

    <!--Tabla examenes-->

    <div class="table-responsive">
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th>Tipo</th>
                    <th>Código</th>
                    <th>Nombre</th>
                    <th>costo</th>                        
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let examen of examenes">
                    <td>{{examen.tipo}}</td>                    
                    <td>{{examen.codigo}}</td>
                    <td>{{examen.nombre}}</td>
                    <td>{{examen.costo}}</td>                        
                    <td><app-mod-edit [examen_original]="examen" [examenes]="examenes"></app-mod-edit></td>
                    <td><app-mod-del [examen]="examen" [examenes]="examenes"><p>¿Realmente Desea elimniar el examen?</p></app-mod-del></td>
                </tr>

            </tbody>
        </table>
    </div>


</div>

