<div class="container-fluid">
    <div class="row">
        <div class="col-xl-12">
            <h2 class="page-header">
                Administracion de examenes
            </h2>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <i class="fa fa-dashboard"></i> <a href="Javascript:void(0)" [routerLink]="['/dashboard']">Administracion</a>
                </li>
                <li class="breadcrumb-item active"><i class="fa fa-table"></i> examenes</li>
            </ol>
        </div>
    </div>
    <app-mod-add [examenes]="examenes" [tipos_examen]="tipos_examen"></app-mod-add>

    <!--Tabla examenes-->

    <div class="table-responsive">
        <table class="table table-hover table-striped" [mfData]="examenes" #mf="mfDataTable" [mfRowsOnPage]="5">
            <thead>
                <tr>
                    <th><mfDefaultSorter by="tipo">Tipo</mfDefaultSorter></th>
                    <th><mfDefaultSorter by="codigo">Código</mfDefaultSorter></th>
                    <th><mfDefaultSorter by="nombre">Nombre</mfDefaultSorter></th>
                    <th><mfDefaultSorter by="costo">Costo</mfDefaultSorter></th>                        
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let examen of mf.data">
                    <td>{{examen.tipo.nombre}}</td>                    
                    <td>{{examen.codigo}}</td>
                    <td>{{examen.nombre}}</td>
                    <td>{{examen.costo}}</td>                        
                    <td><app-mod-edit [examen_original]="examen" [tipos_examen]="tipos_examen" [examenes]="examenes"></app-mod-edit></td>
                    <td><app-mod-del [examen]="examen" [examenes]="examenes"><p>¿Realmente Desea elimniar el examen?</p></app-mod-del></td>
                </tr>

            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4">
                        <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>


</div>

