<div class="container-fluid">
    <div class="row">
        <div class="col-xl-12">
            <h2 class="page-header">
                Administracion de Especialidades
            </h2>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <i class="fa fa-dashboard"></i> <a href="Javascript:void(0)" [routerLink]="['/dashboard']">Administracion</a>
                </li>
                <li class="breadcrumb-item active"><i class="fa fa-table"></i> Especialidades</li>
            </ol>
        </div>
    </div>

    <!--Boton agregar con modal-->
    <app-mod-add [especialidades]="especialidades"></app-mod-add>

    <!--Tabla medicamentos-->
   
    <div class="table-responsive">
        <table class="table table-hover table-striped table-condensed" [mfData]="especialidades" #mf="mfDataTable" [mfRowsOnPage]="5">
            <thead>
                <tr>
                    <th><mfDefaultSorter by="codigo">Codigo</mfDefaultSorter></th>
                    <th><mfDefaultSorter by="nombre">Nombre</mfDefaultSorter></th>              
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let especialidad of mf.data">
                    <td>{{especialidad.codigo}}</td>
                    <td>{{especialidad.nombre}}</td>                      
                    <td><app-mod-edit [especialidad_original]="especialidad" [especialidades]="especialidades"></app-mod-edit></td>
                    <td>
                        <app-mod-del [especialidad]="especialidad" [especialidades]="especialidades">
                            <p>
                                ¿Realmente Desea elimniar la especialidad?
                            </p>
                        </app-mod-del>
                    </td>
                </tr>
            </tbody>
             <tfoot>
                <tr>
                    <td colspan="4">
                        <mfBootstrapPaginator></mfBootstrapPaginator>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
 

</div>