<div class="container-fluid">
    
    <!-- Page Heading -->


    <!--Boton agregar con modal-->
<app-programar></app-programar>
    <!--Tabla medicamentos-->
   
    <div class="table-responsive">
        <table class="table table-hover table-striped table-condensed" [mfData]="cirugias" #mf="mfDataTable" [mfRowsOnPage]="5">
            <thead>
                <tr>
                    <th><mfDefaultSorter by="codigo">Codigo</mfDefaultSorter></th>
                    <th><mfDefaultSorter by="nombre">Fecha</mfDefaultSorter></th>
                    <th><mfDefaultSorter by="especialidades">Inicio</mfDefaultSorter></th>
                    <th><mfDefaultSorter by="costo">Fin</mfDefaultSorter></th>              
                    
                    <th>Detalle</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cirugia of cirugiasHechas">
                    <td>{{cirugia.idRealizacionCirugia}}</td>
                    <td>{{cirugia.diaRealizacionCirugia}}/{{cirugia.mesRealizacionCirugia}}/{{cirugia.anioRealizacionCirugia}}</td>
                    <td>{{cirugia.horaInicioRealizacionCirugia}}:{{cirugia.minutoInicioCirugia}}</td>  
                    <td>{{cirugia.horaFinRealizacionCirugia}}:{{minutoFinRealizacionCirugia}}</td>  
                   
                    <td><button type="button" class="btn btn-success btn-sm" (click)="open(content)" ><i class="fa fa-eye center" aria-hidden="true"></i></button></td>                        
  


                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4">
                        <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
 </div>