    <br>

    <!--Tabla cirugias-->
   
    <div class="table-responsive">
        <table class="table table-hover table-striped table-condensed">
            <thead>
                <tr>
                    <th>Fecha de Cirugia</th>              
                    <th>Hora</th>    
                    <th>Nombre Consulta</th>                        
                    <th>Especialidad</th>
                    <th>Diagnostico</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let asignacion_cirugia of asignaciones_cirugias">
                    <td>{{asignacion_cirugia.diaRealizacionCirugia}}/{{asignacion_cirugia.mesRealizacionCirugia}}/{{asignacion_cirugia.anioRealizacionCirugia}}</td>
                    <td>{{asignacion_cirugia.horaRealizacionCirugia}}:{{asignacion_cirugia.minutoInicioCirugia}}</td>
                    <td>{{asignacion_cirugia.idCita.idCirugia.nombreCirugia}}</td>
                    <td>{{asignacion_cirugia.idCita.idCirugia.idEspecialidad.nombreEspecialidad}}</td>
                    <td><app-mod-detalle [asignacion_cirugia]="asignacion_cirugia"></app-mod-detalle></td>
                 
                </tr>
            </tbody>
        </table>
    </div>
 

