
<div class="card-block">
    <ngb-tabset>
        <ngb-tab title="Mi Perfil">
            <template ngbTabContent>
               <app-perfil></app-perfil>
            </template>
        </ngb-tab>

        <ngb-tab title="Citas">
            <template ngbTabContent>
               <app-citas></app-citas>
            </template>
        </ngb-tab>



        <!--<ngb-tab title="Mi Perfil">
            <ng-template ngbTabContent>
               <app-perfil></app-perfil>
            </ng-template>
        </ngb-tab>

        <ngb-tab title="Citas">
            <ng-template ngbTabContent>
               <app-citas></app-citas>
            </ng-template>
        </ngb-tab>-->
    </ngb-tabset>
</div>