
<div class="card-block">
    <ngb-tabset>
        <ngb-tab title="Mi Perfil">
            <ng-template ngbTabContent>
               <app-perfil></app-perfil>
            </ng-template>
        </ngb-tab>

        <ngb-tab title="Citas">
            <ng-template ngbTabContent>
               <app-citas></app-citas>
            </ng-template>
        </ngb-tab>

        <ngb-tab title="Examenes">
            <ng-template ngbTabContent>
              <!--  <app-examenes></app-examenes>-->
            </ng-template>
        </ngb-tab>

        <ngb-tab title="Cirugias">
            <ng-template ngbTabContent>
               <!-- <app-cirugias></app-cirugias>      -->          
            </ng-template>
        </ngb-tab>

        <ngb-tab title="Padecimientos">
            <ng-template ngbTabContent>
               <!-- <app-padecimientos></app-padecimientos> -->               
            </ng-template>
            <!--       
            <template ngbTabContent>
                <app-citas></app-citas>
            </template>
        </ngb-tab>

        <ngb-tab title="Consultas">
            <template ngbTabContent>
                <app-consultas></app-consultas>
            </template>
        </ngb-tab>

        <ngb-tab title="Examenes">
            <template ngbTabContent>
                <app-examenes></app-examenes>
            </template>
        </ngb-tab>

        <ngb-tab title="Cirugias">
            <template ngbTabContent>
                <app-cirugias></app-cirugias>                
            </template>
        </ngb-tab>

        <ngb-tab title="Padecimientos">
            <template ngbTabContent>
                <app-padecimientos></app-padecimientos>                
            </-template>-->
        </ngb-tab>
        
        <!--<ngb-tab>
            <template ngbTabTitle><b>Fancy</b> title</template>
            <template ngbTabContent>
                <p>Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table
                craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl
                cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia
                yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean
                shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero
                sint qui sapiente accusamus tattooed echo park.</p>
            </template>
        </ngb-tab>-->
        <!--<ngb-tab title="Disabled" [disabled]="true">
            <template ngbTabContent>
                <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth
                master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh
                dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum
                iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
            </template>
        </ngb-tab>-->
    </ngb-tabset>
</div>