<button type="button" class="btn btn-success btn-sm" (click)="open(content)"><i class="fa fa-pencil-square-o"></i></button>
<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Editar Enfermedad: <span class="text-info">{{enfermedad_original.nombre}}</span></h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>


    

    <!--Formulario editar enfermedad-->
        <form>

        <div class="modal-body">

            <div *ngIf="exito == false" class="alert alert-danger">
                 <strong>Oops!</strong> {{mensaje}}
            </div>

            <div *ngIf="exito == true" class="alert alert-success">
               <strong>Exito!</strong> {{mensaje}}
            </div>

            <div class="form-group">
            <label for="codigo">Código</label>
            <input type="text" [(ngModel)]="enfermedad_modificada.codigo" class="form-control"  name="codigo" placeholder="Ingrese codigo">
            </div>

            <div class="form-group">
            <label for="nombre">Nombre</label>
            <input type="text" [(ngModel)]="enfermedad_modificada.nombre" class="form-control"  name="nombre" placeholder="Ingrese nombre de la enfermedad">
            </div>             
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="c('Close click')">Cerrar</button>
            <button type="button" class="btn btn-primary" (click)="onSubmit()" >Guardar</button>
        </div>

    </form>

</ng-template>


