<!-- Large modal -->

<button class="btn btn-default" (click)="open(content)"><i class="fa fa-plus"></i> Agregar medicamento</button>
<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Agregar nuevo medicamento</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>


    <!--Formulario agregar nuevo rol-->
        <form>

   <div class="modal-body">
            
            <div *ngIf="exito == false" class="alert alert-danger">
                <strong>Ooops!</strong> {{mensaje}}
            </div>

            <div *ngIf="exito == true" class="alert alert-success">
                <strong>Exito!</strong> {{mensaje}}
            </div>

            <div class="form-group">
            <label for="nombre">Codigo</label>
            <input type="text" class="form-control" [(ngModel)]="medicamento.codigo" name="codigo" placeholder="Ingrese codigo">
            </div>

            <div class="form-group">
            <label for="nombre">Nombre</label>
            <input type="text" class="form-control" [(ngModel)]="medicamento.nombre" name="nombre" placeholder="Ingrese nombre del medicamento">
            </div>

            <div class="form-group">
            <label for="tipo">Tipo</label>
            <select class="form-control" [(ngModel)]="medicamento.tipo" name="tipo_medicamento">
                <option *ngFor="let tipo of tipos_medicamento" [ngValue]="tipo">{{ tipo.getStringValue() }}</option>
            </select>
            </div>
            
            <div class="form-group">
            <label for="costo">Costo</label>
            <input type="text" class="form-control" [(ngModel)]="medicamento.costo" name="costo" placeholder="Ingrese nombre del medicamento
            ">
            </div>
            
        </div>
    
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="c('Close click')">Cerrar</button>
            <button type="button" *ngIf="exito != true" (click)="onSubmit()" class="btn btn-primary" >Guardar</button>
            <button type="button" *ngIf="exito == true" (click)="clear()" class="btn btn-primary" ><i class="fa fa-repeat"></i></button>
        </div>

    </form>

</ng-template>
