<!-- Large modal -->

<button type="button" class="btn btn-success btn-sm" (click)="open(content)"><i class="fa fa-pencil-square-o"></i></button>
<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Editar Medico: <span class="text-info">{{medico_original.codigo}}</span></h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>


    <!--Formulario agregar nuevo rol-->
      <form>

        <div class="modal-body">
          <div *ngIf="exito == false" class="alert alert-danger">
              <strong>Opps!</strong> {{mensaje}}
          </div>

          <div *ngIf="exito == true" class="alert alert-success">
              <strong>Exito!</strong> {{mensaje}}
          </div>

          <div class="form-group">
            <label for="nombre">Nombres</label>
            <input type="text" class="form-control" [(ngModel)]="medico.usuario.nombre1" name="medico.usuario.nombre1" placeholder="Juan Antonio">
          </div>
          <div class="form-group">
            <label for="nombre">Apellidos</label>
            <input type="text" class="form-control" [(ngModel)]="medico.usuario.apellido1"name="medico.usuario.apellido1" placeholder="Perez Garcia">
          </div>
          <div class="form-group">
            <label>Usuario</label>
            <input type="text" class="form-control" [(ngModel)]="medico.usuario.username" name="medico.usuario.username" placeholder="Juan Antonio">
          </div>
          <div class="form-group">
            <label>Contraseña</label>
            <input type="password" class="form-control" [(ngModel)]="medico.usuario.password" name="medico.usuario.password" >
          </div>
          <div class="form-group">
            <label>Pais</label>
            <input type="text" class="form-control" [(ngModel)]="medico.usuario.pais" name="medico.usuario.pais" placeholder="El Salvador">
          </div>
          <div class="form-group">
            <label>Departamento</label>
            <input type="text" class="form-control" [(ngModel)]="medico.usuario.division" name="medico.usuario.division" placeholder="San Salvador">
          </div>
            <div class="form-group">
            <label>Municipio</label>
            <input type="text" class="form-control" [(ngModel)]="medico.usuario.subdivision" name="medico.usuario.subdivision" placeholder="San Martin">
          </div>
            <div class="form-group">
            <label>Movil</label>
            <input type="text" class= "form-control" [(ngModel)]="medico.usuario.tel_movil" name="medico.usuario.tel_movil" placeholder="7215-7687">
          </div>
          <div class="form-group">
            <label for="nombre">Fijo</label>
            <input type="text" class="form-control" [(ngModel)]="medico.usuario.tel_fijo" name="medico.usuario.tel_fijo" placeholder="2234-7654">
          </div>
          <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" [(ngModel)]="medico.usuario.email" name="medico.usuario.email" placeholder="ejemplo@ejemplo.com">
          </div>
            <div class="form-group">
            <label>Especialidad</label>
            <select type="text" class="form-control" [(ngModel)]="medico.especialidad" name="especialidad" placeholder="Cardiologia">
               <option *ngFor="let especialidad of especialidades" [ngValue]="especialidad" >{{ especialidad.nombre }}</option>
            </select>
          </div>  
      </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="c('Close click')">Cerrar</button>
            <button type="button" class="btn btn-primary" (click)="onSubmit();" >Guardar</button>
        </div>

    </form>

</ng-template>


