<!-- Large modal -->

<button class="btn btn-default" (click)="open(content)"><i class="fa fa-plus"></i> Agregar especialidad</button>
<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Agregar nueva especialidad </h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>


    <!--Formulario agregar nuevo rol-->
        <form>

        <div class="modal-body">
            
            <div *ngIf="exito == false" class="alert alert-danger">
                <strong>Ooops!</strong> {{mensaje}}.
            </div>

            <div *ngIf="exito == true" class="alert alert-success">
                <strong>Exito!</strong> {{mensaje}}
            </div>

            <div class="form-group">
                <label for="nombre">Codigo</label>
                <input type="text" class="form-control" [(ngModel)]="especialidad.codigo" name="codigo" placeholder="Ingrese codigo">
            </div>

            <div class="form-group">
                <label for="nombre">Nombre</label>
                <input type="text" [textMask]="{mask:maskNames,guide:false}" class="form-control" [(ngModel)]="especialidad.nombre" name="nombre" placeholder="Ingrese nombre de la especialidad">
            </div>

            <div class="form-group">
                <label for="nombre">Honorarios por Consulta ($)</label>
                <input type="text" [textMask]="{mask:costoMask}" class="form-control" [(ngModel)]="especialidad.honorarios" name="honorarios" placeholder="Ingrese honorarios por consulta">
            </div>
            
            
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="c('Close click')">Cerrar</button>
            <button type="button" *ngIf="exito != true" (click)="onSubmit()" class="btn btn-primary" >Guardar</button>
            <button type="button" *ngIf="exito == true" (click)="clear()" class="btn btn-primary" ><i class="fa fa-repeat"></i></button>
        </div>

    </form>

</ng-template>

