<button type="button" class="btn btn-success btn-sm" (click)="open(content)"><i class="fa fa-pencil-square-o"></i></button>
<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Editar Cirugia: <span class="text-info">{{cirugia_original.nombre}}</span></h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>


    

    <!--Formulario editar cirugia-->
        <form>

        <div class="modal-body">

            <div *ngIf="exito == false" class="alert alert-danger">
                <strong>Ooops!</strong> {{mensaje}}
            </div>

            <div *ngIf="exito == true" class="alert alert-success">
                <strong>Exito!</strong> {{mensaje}}
            </div>

            <div class="form-group">
            <label for="nombre">Codigo</label>
            <input type="text" class="form-control" [(ngModel)]="cirugia_modificada.codigo" name="codigo" placeholder="Ingrese codigo">
            </div>

            <div class="form-group">
            <label for="nombre">Nombre</label>
            <input type="text" class="form-control" [(ngModel)]="cirugia_modificada.nombre" name="nombre" placeholder="Ingrese nombre de la cirugia">
            </div>

            <div class="form-group">
            <label for="tipo">Especialidad</label>
            <select class="form-control" [(ngModel)]="cirugia_modificada.especialidad" name="especialidad">
                <option *ngFor="let especialidad of especialidades" [ngValue]="especialidad">{{ especialidad.nombre }}</option>
            </select>
            </div>

            <div class="form-group">
            <label for="costo">Costo</label>
            <input type="text" class="form-control"  [textMask]="{mask:costoMask}"  [(ngModel)]="cirugia_modificada.costo" name="costo" placeholder="Ingrese costo de la cirugia">
            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="c('Close click')">Cerrar</button>
            <button type="button" class="btn btn-primary" (click)="onSubmit()" >Guardar</button>
        </div>

    </form>

</ng-template>


