<div>


  <div *ngIf="exito == false" class="alert alert-danger">
    <strong>Ooops!</strong> {{mensaje}}.
  </div>

  <!--  <div *ngIf="exito == true" class="alert alert-success">
    <strong>Exito!</strong> {{mensaje}}
    <p>Numero del expediente: {{expediente_paciente.expediente.numero_expediente}}</p>
    <p>Numero del expediente: {{expediente_paciente.usuario.username}}</p>
    <p>Numero del expediente: {{expediente_paciente.usuario.password}}</p>
  </div>-->


  <div *ngIf="paso1" [@enterAnimation]="paso1" class="panel panel-info">

    <div class="panel-body">
      <!--DATOS DEL PADRE-->
      <strong><p class="text-center">Datos personales</p></strong>
      <hr>
      <div class="row">


        <div class="form-group col-md-6">
          <label for="nombre1">Nombres</label>
          <input type="text" disabled class="form-control" name="apellido1" placeholder="Ingrese primer apellido">
          
          <!--<input type="text" disabled class="form-control"name="nombre1" ng-model="{{expediente_paciente.......nombre1}} {{expediente_paciente......nombre2}}">  -->
        </div>

        <div class="form-group col-md-6">
          <label for="apellido1">Apellidos</label>
          <input type="text" disabled class="form-control" name="apellido1" placeholder="Ingrese primer apellido">
        </div>
        <div class="col-md-6">
          <p>Genero</p>
          <label class="checkbox-inline">
             <input type="radio" name="genero" id="M"  value="M" (change)="onChangeGenero()"> &nbsp; Masculino
          </label>
          <label class="checkbox-inline">
             <input type="radio" name="genero" #isFemenine id="F" value="F"> &nbsp; Femenenino &nbsp;
          </label>
          <label class="checkbox-inline">
             <input type="checkbox" #isCasada [disabled]="!isFemenine.checked" (change)="onChangeCasada()" name="estaCasada"> &nbsp; Casada
          </label>
        </div>
        <div class="form-group col-md-6">
          <label for="nombre">Apellido casada</label>
          <input type="text" class="form-control" [disabled]="!isCasada.checked" name="apellido_casada" placeholder="Ingrese apellido casada">
        </div>


        <p></p>
        <div class="form-group col-md-6 ">
          <label for="dui">Documento identidad</label>
          <input disabled type="text" class="form-control" name="dui" maxlength="10" disabled [(ngModel)]="paciente_modificado.dui"
            placeholder="Ingrese doc. identidad">
        </div>
        <div class="form-group col-md-6">
          <label>Fecha nacimiento</label>
          <div class="input-group">
            <input disabled class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="fecha_nacimiento" ngbDatepicker #d="ngbDatepicker">
            <div class="input-group-addon" (click)="d.toggle()">
              <span class="fa fa-calendar"></span>
            </div>
          </div>
        </div>

        <div class="form-group col-md-4">
          <label>Pais</label>
          <select class="form-control" disabled name="selectedCountryPaciente" (change)="onChangePaisPaciente()">
               <option *ngFor="let pais of paises" [attr.selected]="pais.name==paciente_modificado.pais ? true : null" [ngValue]="pais">{{ paciente_modificado.subdivision.idDivision.idPais.nombrePais }}</option>
                                <!--[attr.selected]="pais.name==paciente_modificado.pais ? true : false"-->
               </select>
        </div>

        <div class="form-group col-md-4">
          <label>Region</label>
          <select class="form-control" disabled name="selectedRegionPaciente" (change)="onChangeRegionPaciente()">
                <option *ngFor="let region of regionesPaciente" [attr.selected]="region.region==paciente_modificado.division ? true : null" [ngValue]="region" >{{ region.region }}</option>
          </select>
        </div>

        <div class="form-group col-md-4">
          <label>Ciudad</label>
          <select disabled class="form-control" name="selectedCityPaciente" (change)="onChangeCiudadPaciente()">
                <option *ngFor="let ciudad of ciudadesPaciente" [attr.selected]="ciudad.city==paciente_modificado.subdivision ? true : null" [ngValue]="ciudad">{{ ciudad.city }}</option>
           </select>
        </div>


        <div class="form-group col-md-4">
          <label for="nombre">Telefono fijo</label>
          <input disabled type="text" class="form-control" name="tel_fijo" placeholder="Ingrese tel fijo">
        </div>

        <div class="form-group col-md-4">
          <label for="nombre">Telefono movil</label>
          <input disabled type="text" class="form-control" name="tel_movil" placeholder="Ingrese tel movil">
        </div>

        <div class="form-group col-md-4">
          <label for="nombre">Email</label>
          <input disabled type="text" class="form-control" name="email" placeholder="Ingrese email">
        </div>


      </div>
      <!--fin row paciente-->


      <div class="row">
        <div class="col-md-12">
          <label for="name">Padecimientos</label>
          <select disabled multiple="true" class="form-control">
             <option *ngFor="let enfermedad of enfermedades" [ngValue]="enfermedad">{{ enfermedad.nombre }}</option>
          </select>
        </div>
      </div>

    </div>
  </div>


  <div *ngIf="paso2" [@enterAnimation]="paso2" class="panel panel-info">

    <div class="panel-body">
      <br>
      <!--DATOS DEL PADRE-->
      <strong><p class="text-center">Datos de Padre</p></strong>
      <hr>
      <div class="row">



        <div class="form-group col-md-6">
          <label for="nombre1">Nombres</label>
          <input type="text" class="form-control" name="nombre1" placeholder="Ingrese primer nombre">
        </div>

        <div class="form-group col-md-6">
          <label for="apellido1">Apellidos</label>
          <input type="text" disabled class="form-control" name="apellido1" placeholder="Ingrese primer apellido">
        </div>
        <div class="col-md-12">
          <label for="name">Padecimientos</label>
          <select disabled multiple="true" [(ngModel)]="paciente_modificado.padre.enfermedades" class="form-control">
                                <option *ngFor="let enfermedad of enfermedades" [ngValue]="enfermedad">{{ enfermedad.nombre }}</option>
                            </select>
        </div>
      </div>


      <!--fin row padre-->





      <!--DATOS De MADRE-->

      <br>
      <strong><p class="text-center">Datos de la Madre</p></strong>
      <br>

      <hr>

      <div class="row">
        <div class="form-group col-md-6">
          <label for="apellido1">Nombres</label>
          <input disabled type="text" class="form-control" name="nobres" value="kkkkk" placeholder="Ingrese primer apellido">
        </div>

        <div class="form-group col-md-6">
          <label for="apellido1">Apellidos</label>
          <input disabled type="text" class="form-control" name="apellido1" placeholder="Ingrese primer apellido">
        </div>
        <div class="form-group col-md-6">
          <label class="checkbox-inline">
              <label>Casada &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; </label>
          <input disabled type="checkbox" #isCasadaM [(ngModel)]="estaCasada" (change)="onChangeCasadaMadre()" name="estaCasada">
          </label>
        </div>
        <div class="form-group col-md-6">
          <label for="nombre">Apellido casada</label>
          <input disabled type="text" class="form-control" [disabled]="!isCasadaM.checked" name="apellido_casada" [(ngModel)]="paciente_modificado.madre.apellido_casada"
            placeholder="Ingrese apellido casada">
        </div>
        <div class="col-md-12">
          <label for="name">Padecimientos</label>
          <select disabled multiple="true" [(ngModel)]="paciente_modificado.madre.enfermedades" class="form-control">
                                <option *ngFor="let enfermedad of enfermedades" [ngValue]="enfermedad">{{ enfermedad.nombre }}</option>
            </select>
        </div>

      </div>



      <!--fin row Madre-->
    </div>
  </div>


  <div *ngIf="paso3" [@enterAnimation]="paso3" class="panel panel-info">

    <div class="panel-body">

      <!--DATOS DEL RESPONSABLE-->
      <strong><p class="text-center">Datos de Responsable</p></strong>
      <hr>
      <div class="row">

        <div class="form-group col-md-6">
          <label for="nombre1">Nombres</label>
          <input disabled type="text" class="form-control" name="nombre1" placeholder="Ingrese primer nombre">
        </div>

        <div class="form-group col-md-6">
          <label for="apellido1">Apellidos</label>
          <input disabled type="text" class="form-control" name="apellido1" placeholder="Ingrese primer apellido">
        </div>
        <div class="form-group col-md-6">
          <p>Genero</p>
          <label class="checkbox-inline">
                  <input disabled type="radio" name="genero" id="M" value="M" (change)="onChangeGeneroResponsable()"> &nbsp; Masculino
            </label>
          <label class="checkbox-inline">
                  <input disabled type="radio" name="genero" #isFemenine id="F"  value="F"> &nbsp; Femenenino &nbsp;
            </label>
          <label class="checkbox-inline">
                  <input  type="checkbox" #isCasadaR [disabled]="!isFemenine.checked"  (change)="onChangeCasadaResponsable()" name="estaCasada"> &nbsp; Casada
            </label>
        </div>
        <div class="form-group col-md-6">
          <label for="nombre">Apellido casada</label>
          <input type="text" class="form-control" [disabled]="!isCasadaR.checked" name="apellido_casada" placeholder="Ingrese apellido casada">
        </div>
        <div class="form-group col-md-6">
          <label for="nombre">Telefono fijo</label>
          <input type="text" disabled class="form-control" name="tel_fijo" placeholder="Ingrese tel fijo">
        </div>
        <div class="form-group col-md-6">
          <label for="nombre">Telefono movil</label>
          <input disabled type="text" class="form-control" name="tel_movil" placeholder="Ingrese tel movil">
        </div>



      </div>
      <!--fin row 1-->

    </div>
  </div>




</div>
<div class="modal-footer">
  <!--<button type="button" #closeBtn class="btn btn-secondary" (click)="c('Close click')">Cancelar</button>-->
  <button type="button" (click)="switchPaso(1)" class="btn btn-default" [ngClass]="{ 'btn-default':!paso1, 'btn-primary':paso1 }">Personales</button>
  <button type="button" (click)="switchPaso(2)" class="btn btn-default" [ngClass]="{ 'btn-default':!paso2, 'btn-primary':paso2 }">Padres</button>
  <button type="button" (click)="switchPaso(3)" class="btn btn-default" [ngClass]="{ 'btn-default':!paso3, 'btn-primary':paso3 }">Responsable</button>
</div>