<div class="container-fluid">
    
    <!-- Page Heading -->
    <div class="row">
        <div class="col-xl-12">
            <h2 class="page-header">
                Administracion de Consultas
            </h2>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <i class="fa fa-dashboard"></i> <a href="Javascript:void(0)" [routerLink]="['/dashboard']">Administracion</a>
                </li>
                <li class="breadcrumb-item active"><i class="fa fa-table"></i> Consultas</li>
            </ol>
        </div>
    </div>

    <!--Boton agregar con modal-->
    <app-mod-add [consultas]="consultas" [especialidades]="especialidades"></app-mod-add>

    <!--Tabla medicamentos-->
   
    <div class="table-responsive">
        <table class="table table-hover table-striped table-condensed" [mfData]="consultas" #mf="mfDataTable" [mfRowsOnPage]="1">
            <thead>
                <tr>
                    <th><mfDefaultSorter by="codigo">Codigo</mfDefaultSorter></th>
                    <th><mfDefaultSorter by="nombre">Nombre</mfDefaultSorter></th>
                    <th><mfDefaultSorter by="especialidad">Especialidad</mfDefaultSorter></th>
                    <th><mfDefaultSorter by="costo">Costo</mfDefaultSorter></th>             
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let consulta of mf.data">
                    <td>{{consulta.codigo}}</td>
                    <td>{{consulta.nombre}}</td>
                    <td>{{consulta.especialidad.nombre}}</td>
                    <td>{{consulta.costo}}</td>                      
                    <td><app-mod-edit [consulta_original]="consulta" [consultas]="consultas" [especialidades]="especialidades"></app-mod-edit></td>
                    <td>
                        <app-mod-del [consulta]="consulta" [consultas]="consultas">
                            <p>
                                ¿Realmente Desea elimniar la consulta?
                            </p>
                        </app-mod-del>
                    </td>
                </tr>
            </tbody>
             <tfoot>
                <tr>
                    <td colspan="4">
                        <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>