<!-- Large modal -->
<div class="">
    <button class="btn btn-default" (click)="open(content)"><i class="fa fa-plus"></i> Agregar medicamento</button>
    <ng-template #content let-c="close" let-d="dismiss">
        <div class="modal-header">
            <h4 class="modal-title">Agregar nuevo medico</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>


        <!--Formulario agregar nuevo rol-->
          <form>

            <div class="modal-body">
              <div class="form-group">
                <label for="nombre">Codigo</label>
                <input type="text" class="form-control"  name="codigo" placeholder="Ingrese codigo">
              </div>

              <div class="form-group">
                <label for="nombre">Nombres</label>
                <input type="text" class="form-control" name="nombres" placeholder="Juan Antonio">
              </div>
              <div class="form-group">
                <label for="nombre">Apellidos</label>
                <input type="text" class="form-control" name="apellidos" placeholder="Perez Garcia">
              </div>
              <div class="form-group">
                <label for="nombre">Pais</label>
                <input type="text" class="form-control" name="pais" placeholder="El Salvador">
              </div>
              <div class="form-group">
                <label for="nombre">Departamento</label>
                <input type="text" class="form-control" name="division" placeholder="San Salvador">
              </div>
               <div class="form-group">
                <label for="nombre">Municipio</label>
                <input type="text" class="form-control" name="subdivision" placeholder="San Martin">
              </div>
               <div class="form-group">
                <label for="nombre">Movil</label>
                <input type="text" class="form-control" name="movil" placeholder="7215-7687">
              </div>
               <div class="form-group">
                <label for="nombre">Fijo</label>
                <input type="text" class="form-control" name="fijo" placeholder="2234-7654">
              </div>
               <div class="form-group">
                <label for="nombre">Especialidad</label>
                <input type="text" class="form-control" name="especialidad" placeholder="Cardiologia">
              </div>
          </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="c('Close click')">Cerrar</button>
                <button type="button" class="btn btn-primary" >Guardar</button>
            </div>

        </form>

    </ng-template>
</div>

