<button class="btn btn-primary" (click)="open(content)"><i class="fa fa-plus " aria-hidden="true"></i>Asignar Nuevo Examen</button>
<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Agregar nuevo examen</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>


    <!--Formulario agregar nuevo rol-->
        <form>

   <div class="modal-body">
            
            <div *ngIf="exito == false" class="alert alert-danger">
                <strong>Error!</strong> Operacion no se pudo realizar.
            </div>

            <div *ngIf="exito == true" class="alert alert-success">
                <strong>Exito!</strong> La operacion se ha realizada exitosamente.
            </div>

              <div class="form-group col-sm-8">
                  <label>Fecha </label>
                  <div class="input-group">
                      <input class="form-control" placeholder="yyyy-mm-dd"
                          name="dp"  ngbDatepicker #d="ngbDatepicker">
                            <div class="input-group-addon" (click)="d.toggle()">
                          <span class="fa fa-calendar"></span>
                      </div>
                  </div>
              </div>

            <div class="form-group">
              <label for="nombre">Examen</label>
                <select class="form-control" [(ngModel)]="cita.consulta" name="consulta">
                    <option *ngFor="let consulta of consultas" [ngValue]="consulta">{{ consulta.nombreConsulta }}</option>
                </select>
            </div>

   

            
        </div>
    
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="c('Close click')">Cerrar</button>
            <button type="button" *ngIf="exito != true" (click)="onSubmit()" class="btn btn-primary" >Guardar</button>
            <button type="button" *ngIf="exito == true" (click)="clear()" class="btn btn-primary" ><i class="fa fa-repeat"></i></button>
        </div>

    </form>

</ng-template>
